* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style: none;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 30px;
  z-index: 2;
  display: none;
  color: white;
}

body {
  background: #0F1624;
  background-image: url(assets/hero_img.svg);
  background-repeat: no-repeat;
  background-position: 977px 135px;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
.container header {
  width: 100%;
  height: 137px;
}
.container .header-nav {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}
.container .header-nav .logo {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  padding-left: 100px;
}
.container .header-nav .logo a {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.container .header-nav .logo h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: white;
  margin-left: 30px;
}
.container .header-nav .logo h3:hover {
  opacity: 0.5;
}
.container .header-nav .menu-bar {
  width: 100%;
}
.container .header-nav .menu-bar .menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
  margin-left: 125px;
}
.container .header-nav .menu-bar li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
}
.container .header-nav .menu-bar li:hover {
  border-bottom: 4px solid transparent;
  -o-border-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
     border-image: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  border-image-slice: 1;
  transition: 0.5s;
  opacity: 0.7;
}
.container .header-nav .menu-bar a {
  color: white;
}
.container .header-nav .social {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-left: 85px;
}
.container .header-nav .social img {
  margin: 22px;
}
.container .header-nav .social img:hover {
  opacity: 0.5;
}
.container main {
  max-width: 1200px;
  margin: auto;
}
.container main .hero {
  width: 809px;
  height: 459px;
  margin-left: 168px;
  margin-top: 155px;
}
.container main .hero h1 {
  max-width: 790px;
  height: 85px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 82px;
  color: #FFFFFF;
  letter-spacing: 2px;
  word-spacing: -2px;
  margin-top: 2px;
  margin-left: 2px;
}
.container main .hero p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  margin-top: 61px;
  margin-bottom: 80px;
  color: #BCBCBC;
}
.container main .hero button {
  width: 280px;
  height: 80px;
  left: 115px;
  top: 622px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: white;
}
.container main .hero button:hover {
  opacity: 0.4;
}
.container main .projects {
  width: 100%;
  margin: auto;
  margin-top: 166px;
}
.container main .projects .projects-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #FFFFFF;
  margin-left: 143px;
}
.container main .projects .projects-card1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  border: 3px solid #0F1624;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 127px;
  margin-left: 15px;
  margin-right: 15px;
}
.container main .projects .projects-card1 .projects-card1-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container main .projects .projects-card1 .projects-card1-texts .projects-card1-title {
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 88.5%;
  margin-top: 80px;
  margin-left: -2px;
}
.container main .projects .projects-card1 .projects-card1-texts .projects-card1-title::after {
  content: "";
  width: 22%;
  height: 6px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  position: absolute;
  top: 140px;
  left: 150px;
}
.container main .projects .projects-card1 .projects-card1-texts .projects-card1-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 150px;
  color: #FFFFFF;
  margin-left: 50px;
}
.container main .projects .projects-card1 .projects-card1-texts button {
  width: 220px;
  height: 70px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: white;
}
.container main .projects .projects-card1 .projects-card1-texts button:hover {
  opacity: 0.4;
}
.container main .projects .projects-card1 .projects-card1-image img {
  padding: 20px;
  border-bottom-right-radius: 60px;
}
.container main .projects .projects-cardsParent {
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 150px;
  gap: 80px;
}
.container main .projects .projects-cardsParent .projects-card2 {
  position: relative;
  display: flexbox;
  flex-direction: column;
  border: 3px solid #0F1624;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts {
  display: flex;
  flex-direction: column;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts .projects-card2-title {
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 88.5%;
  margin-top: 80px;
  margin-left: -2px;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts .projects-card2-title::after {
  content: "";
  width: 45%;
  height: 6px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  position: absolute;
  top: 700px;
  left: 150px;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts .projects-card2-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 150px;
  color: #FFFFFF;
  margin-left: 50px;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts button {
  width: 220px;
  height: 70px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: white;
}
.container main .projects .projects-cardsParent .projects-card2 .projects-card2-texts button:hover {
  opacity: 0.4;
}
.container main .projects .projects-cardsParent .projects-card3 {
  border: 3px solid #0F1624;
  position: relative;
  box-shadow: 0px 0px 12px #FFFFFF;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts {
  display: flex;
  flex-direction: column;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts .projects-card3-title {
  text-align: center;
  color: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 88.5%;
  margin-top: 80px;
  margin-left: -2px;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts .projects-card3-title::after {
  content: "";
  width: 45%;
  height: 6px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  position: absolute;
  top: 700px;
  left: 150px;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts .projects-card3-para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  margin-top: 150px;
  color: #FFFFFF;
  margin-left: 50px;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts button {
  width: 220px;
  height: 70px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  margin: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 35px;
  color: white;
}
.container main .projects .projects-cardsParent .projects-card3 .projects-card3-texts button:hover {
  opacity: 0.4;
}
.container main .projects .projects-cardsParent .projects-card2-image img,
.container main .projects .projects-cardsParent .projects-card3-image img {
  padding: 10px;
  border-top-left-radius: 50px;
}

@media (max-width: 1000px) {
  body {
    background-position: 307px 105px;
  }
  .menu-btn {
    display: block;
  }
  .container {
    margin-left: 20px;
    width: 70vw;
  }
  .container .header-nav .logo {
    padding-left: 10px;
  }
  .container .menu-bar-phone {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: #0F1624;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-1550px);
    transition: transform 0.5s ease-in-out;
  }
  .container .header-nav .menu-bar .menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    align-items: flex-start;
    gap: 20px;
  }
  .container .menu-bar ul li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .container .menu-bar-phone.show {
    transform: translateX(-20px);
  }
  .container .social img {
    display: none;
  }
  .container main {
    width: 100%;
    margin: 0;
    padding-left: 0px;
  }
  .container main .projects {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container main section {
    margin-left: 0;
  }
  .container main h1 {
    font-size: 25px;
    line-height: 48px;
  }
  .container main p {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .container main button {
    width: 50%;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
  }
}
@media (max-width: 480px) {
  body {
    background-position: 7px 105px;
  }
}/*# sourceMappingURL=styles.css.map */